<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoCatalogue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VoCatalogue.Properties.Settings>
            <setting name="firstlog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ai_tonio_v2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ai_sonika_v2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ai_prima_v2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ai_sweetann_v2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ai_bigal_v2" serializeAs="String">
                <value>False</value>
            </setting>
        </VoCatalogue.Properties.Settings>
    </userSettings>
</configuration>